<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <meta charset="UTF-8" />
        <title th:fragment="titulo">CodeForFree</title>
        <link rel="shortcut icon" th:href="@{/css/images/icono.svg}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.final.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/css/contacto.css}" />
        <link rel="stylesheet" th:href="@{/css/preguntas.css}" />
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"/>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
                <div class="container">
                    <ul class="navbar-nav mr-auto">
                        <img th:src="@{/css/images/icono.svg}" width="40" height="40" alt="" />
                        <a class="navbar-brand active text-primary" th:href="@{/inicio}">CodeForFree</a>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/cursos}" th:text="#{text.menu.cursos}"></a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/nosotros}" th:text="#{text.menu.nosotros}"></a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/preguntas}" th:text="#{text.menu.preguntas}"></a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/blog}" th:text="#{text.menu.blog}"></a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/contacto}" th:text="#{text.menu.contacto}"></a></li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li sec:authorize="!isAuthenticated()"><a
                                class="btn btn-outline-dark text-white" th:href="@{/login}" th:text="#{text.menu.signin}"></a></li>
                        <li sec:authorize="isAuthenticated()" class="dropdown show">
                            <a class="btn btn-outline-dark text-white dropdown-toggle" href="#"
                               role="button" id="dropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"><span sec:authentication="name"></span></a>
                            <div class="dropdown-menu dropdown-menu-left dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <form id="accountForm" th:action="@{/form/cuenta/}+${148}">
                                    <button class="dropdown-item" data-toggle="tooltip" data-placement="bottom" onclick="document.getElementById('accountForm').submit();" type="submit" title="Gestionar cuenta" th:text="#{text.menu.account}" sec:authorize="hasRole('ADMIN')"></button>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                </form>
                                <form id="logoutForm" th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión de este dispositivo" onclick="document.getElementById('logoutForm').submit();" type="submit" th:text="#{text.menu.signout}"></button>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item mx-1"><a class="btn btn-outline-dark text-white" th:href="@{/(lang=es)}">ES</a></li>
                        <li class="nav-item mx-1"><a class="btn btn-outline-dark text-white" th:href="@{/(lang=en)}">EN</a></li>
                    </ul>
                </div>
            </nav>
            <!--  
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success != null}">
                <div th:text="${success}" ></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${error != null}">
                <div th:text="${error}"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${warning != null}">
                <div th:text="${warning}"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${info != null}">
                <div th:text="${info}"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            -->
            
        </header>

        <footer th:fragment="footer">
            <div class="contenedor-footer">
                <div class="content-foo">
                    <h6 th:text="#{text.footer.titulo.nosotros}"></h6>
                    <a th:href="@{/nosotros}" th:text="#{text.footer.nosotros}"></a><br>
                    <!-- El text-decoration sirve para habilitar o quitar el subrayado -->
                    <a th:href="@{/cursos}" th:text="#{text.footer.cursos}"></a><br> <a th:href="@{/contacto}" th:text="#{text.footer.contacto}"></a><br>
                </div>
                <div class="content-foo">
                    <h6 th:text="#{text.footer.email}"></h6> <!-- Este target es para nueva pestaña y el rel para mejorar seguridad -->
                    <a href="https://www.google.com/intl/es/gmail/about/" target="_blank" rel="noopener noreferrer">codeforfree@gmail.com</a><br>
                </div>
                <div class="content-send">
                    <h6 th:text="#{text.footer.boletin}"></h6>
                    <form>
                        <input type="email" name="mail" placeholder="Correo electrónico" id="email"/><br><br>
                        <input class = "btn btn-primary btn-xs" type="submit" name="submit" id="submitForm"/><br><br>
                    </form>
                </div>
            </div>
            <h3 class="titulo-final">&copy;[[#{text.footer.derechos}]]</h3>
            <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
            <script th:src="@{/js/popper.min.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/jquery-ui.min.js}"></script>
        </footer>
    </body>
</html>