.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: white;
    border: 0;
    color: #212529;
    outline: none;
    border: 1px  solid #212529;
    padding: 10px 10px;
    font-family:sans-serif;
}

.input::placeholder{
    color: #212529;
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

.contacto-boton{
    background: white;
    border: 0;
    color: #212529;
    outline: none;
    border: 1px  solid #212529;
    padding: 10px 10px;
    font-family:sans-serif;
}

.contacto-boton:hover{
    cursor: pointer;
    color: white;
    background: #212529;
}

.contenido {
    position: relative;
    color: #212529;
    margin-bottom: 30px;
    text-align: center;
    background-color: white;
    padding: 10px;
    overflow: auto;
}

